.playground__preview___1yGW0 {
  width: 100% !important;
  padding: 0 !important;
  border-radius: 3px;
  background: transparent !important;

  & > div {
    border: 0 !important;
  }

  .wt-workbench  {
    border-radius: 3px;
    height: 430px;
  }
}

.playground__script___2c_JX {
  background: #2f383d !important;
  border-radius: 3px !important;
  margin-top: 70px;

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #506068 !important;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #506068 !important;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #506068 !important;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #506068 !important;
  }

  &:before {
    content: "Configuration Options";
    font-size: 16px !important;
    color: #5c666f !important;
    font-weight: 500;
    font-family: inherit !important;
    margin-top: -65px;
    position: absolute;
    margin-left: -34px;
  }

  ol {
    list-style: none;
    padding-left: 0;

    li.playground__line___1ope4 {
      line-height: 20px !important;
    }    
  }

  input {
    background-color: #2f383d !important;
    color: #00fbca !important;
  }

  select {
    color: #42c7f4 !important;
  }

  .playground__string___3kOBS {
    color: #00fbca !important;
  }

  .playground__method___2zJIH {
    color: #fff !important;    
  }

  .playground__var___29cBo {
    color: #ff9a56 !important;
  } 
}