@import "header";
@import "footer";
@import "navigation_bar";
@import "search_control";
@import "sidebar";
@import "docs";
@import "feedback-footer";
@import "highlight";
@import "swagger";
@import "hljs";
@import "editor-playground";

#sticky-wrapper {
  .sidebar-container {
    width: 100%;   
    padding: 0;
  }
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 28px;
  border-spacing: 0;
  border-collapse: collapse;
}

table>thead>tr>th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

table>thead:first-child>tr:first-child>th {
  border-top: 0;
}

table>tbody>tr>td, table>tbody>tr>th, table>tfoot>tr>td, table>tfoot>tr>th, table>thead>tr>td, table>thead>tr>th {
  padding: 8px;
  line-height: 2;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

th {
  font-weight: 400;
}