.docs-content-container {
  padding-left: 20px;
  
  p {
    code {
      border-radius: 4px;
      font-size: 90%;
      padding: 3px 8px;
      color: #5c666f;
      background: #eef0f1;
    }
  }

  .docs-content {
    color: rgba(0,0,0,.86);
    min-height: 200px;

    @media (min-width: 992px) {
      // padding-top: 40px;
      padding-bottom: 10px;
    }

    h1 {
      font-size: 40px;
      font-weight: 400;
      color: #333;
      margin: 0 0 18px;
      line-height: 1.4em;
    }

    h2 {
      font-size: 18px;
      font-weight: 500;
      color: #333;
      line-height: 1.3;
    }

    h3, h4 {
      font-size: 16px;
    }

    img {
      max-width: 100%;
      box-sizing: content-box;
      background-color: #fff;
    }

    kbd {
      background: transparent;
      box-shadow: none;  
    }
  }
}