@import "header";
@import "footer";
@import "navigation_bar";
@import "search";
@import "sidebar";
@import "docs";
@import "feedback-footer";
@import "highlight";
@import "swagger";
@import "hljs";
@import "editor-playground";

.wt-workbench {
  .wt-footer {
    z-index: 10 !important;
  }
}

#page-header {
  width: 100%;
}

.doc-title {
  position: fixed;
  background-color: #fff;
  margin-top: 60px;
  height: 96px;
  display: flex;
  align-items: flex-end;
  width: 716px !important;
  z-index: 9;

  h1 {
    display: inline;
    margin: 0 !important;
    transition: font-size 0.5s;
  }

  &.shrink {
    height: 84px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding-bottom: 10px;
    h1 {
      font-size: 28px;
    }
  }

  .toc-dropdown {
    float: right;

    &:hover {
      .toc-dropdown-content {
        opacity: 1;
        visibility: visible;
      } 
    }
  }
}

section {
  > p > img {
    margin: 20px;
  }
}

.toc-dropdown-title {
  color: #0a84ae;
  cursor: pointer;
  display: inline-block;
  padding: 8px 0;

  .text {
    display: inline-block;
    margin-right: 5px;
    font-size: 18px;
  }

  .icon {
    font-size: 16px;
    position: relative;
    top: 2px;
  }  
}

.toc-dropdown-content {
  // opacity: 1;
  // visibility: visible;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 81px;
  right: 17px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #fff;
  min-width: 200px;
  max-width: 360px;
  max-height: 520px;
  padding: 12px 20px;
  font-size: 14px;
  border: 1px solid #eee;
  border-radius: 3px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,.1);

  .item-link:hover {
    color: #053b4e;
    cursor: pointer;
  }

  .toc-dropdown-list {
      list-style-type: none;
      padding: 0;
  }

  .item-link-depth-1 {
      color: #555;
  }

  .toc-dropdown-list-depth-2 {
      padding-left: 14px;
      margin-bottom: 4px;
  }

  .item-link-depth-2 {
      color: #777;
      padding: 4px 0;
  }
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 28px;
  border-spacing: 0;
  border-collapse: collapse;
}

table>thead>tr>th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

table>thead:first-child>tr:first-child>th {
  border-top: 0;
}

table>tbody>tr>td, table>tbody>tr>th, table>tfoot>tr>td, table>tfoot>tr>th, table>thead>tr>td, table>thead>tr>th {
  padding: 8px;
  line-height: 2;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

th {
  font-weight: 400;
}

