.navigation-bar {
  background: #f5f7f9;

  @media (min-height: 992px) {
    white-space: nowrap;
    overflow-x: auto;
  }

  &.is-fixed {
    .wrapper {
      @media (min-height: 992px) {
        position: fixed;
        top: 0;
        left: 0;
      }
    }
  }

  &.is-search-active {
    @media (min-height: 992px) {
      .navigation-bar-tabs {
        display: none;
      }

      .search-form {
        display: block;
        margin-right: 0;

        .navigation-bar-search {
          display: block;

          .form-control {
            width: 100% !important;
            background-color: rgba(0,0,0,0.05);
            display: inline-block;
          }
        }
      }
    }
  }

  > .container {
    @media (min-height: 992px) {
      width: auto;
    }

    @media (min-height: 992px) {
      width: 1016px;
    }
  }


  .wrapper {
    border-bottom: 1px solid #EAEEF3;
    background: white;
    width: 100%;
    z-index: 800;
  }

  .navigation-bar-tabs {
    margin: 0;
    font-size: 15px;
    display: inline-block;
    border-bottom: 0px;

    @media (min-height: 992px) {
      vertical-align: bottom;
    }

    @media (min-height: 992px) {
      float: left;
      display: block;
    }

    a {
      color: #333;
      height: 35px;
      line-height: 1;

      &:hover {
        opacity: 0.7;
      }
    }

    li {
      margin: 0;
      padding: 4px 10px;
      border-bottom: 2px solid transparent;
      padding-top: 15px;
      padding-bottom: 15px;

      @media (min-height: 992px) {
        padding-top: 15px;
        padding-bottom: 15px;
      }

      &.active {
        color: #333;
        font-weight: 500;
        border-bottom-color: #333;

        a {
          color: #333;
          border-bottom: 0px !important;
        }
      }

      & + li {
        margin-left: 16px;

        @media (min-height: 992px) {
          margin-left: 30px;
        }
      }
    }
  }
}