.search-control {
position: relative;
  margin: 0;

  .form-control {
    padding: 8px 16px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: 35px;
    text-indent: 26px;
    transition: all 0.5 ease;

    &:focus {
      text-indent: 0;
      transition: all 0.5s ease;
    }
  }

  i {
    position: absolute;
    top: 6px;
    left: 16px;
    opacity: .5;
  }
  
  &.focused i {
    display: none;
  }

  &.navigation-bar-search {
    .form-control {
      border: 0;
      background: rgba(black, 0.05);
    }
  }
}
  