<div class="feedback-footer" style="margin-top: 34px;">
  <div class="feedback-title">Was this article helpful?</div>
  <div class="feedback-buttons">
    <button class="feedback-button-yes btn btn-transparent">
      <span class="btn-icon icon-budicon-470"></span>
      Yes
    </button>
    <button class="feedback-button-no btn btn-transparent">
      <span class="btn-icon icon-budicon-471"></span>
      No
    </button>
  </div>
  <div class="feedback-content">
    <div class="feedback-message">
      Suggestions? Typos?
      <a class="edit-link" href="https://github.com/auth0/extend/tree/gh-pages/_includes/docs/{{ include.src }}" target="_blank">Edit this document on GitHub</a>
    </div>
  </div>
</div>