<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="fragment" content="!">
  <meta name="description" content="Better platform extensibility for your SaaS">
  <meta name="twitter:image:height" content="630">
  <meta name="twitter:image:width" content="1200">
  <meta name="twitter:image:src" content="https://cdn.auth0.com/website/auth0-extend/images/card.png">
  <meta name="twitter:description" content="Put your customers in the driver's seat for extending your product. Auth0 Extend offers a unique in-product, white-labeled, developer experience that makes it easy for any developer to add new capabilities and write their own business logic.">
  <meta name="twitter:title" content="Auth0 Extend">
  <meta name="twitter:creator" content="@auth0">
  <meta name="twitter:site" content="@auth0">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:image:secure_url" content="https://cdn.auth0.com/website/auth0-extend/images/card.png">
  <meta property="og:image" content="https://cdn.auth0.com/website/auth0-extend/images/card.png">
  <meta property="og:url" content="https://auth0.com/extend">
  <meta property="og:locale" content="en_US">
  <meta property="og:description" content="Put your customers in the driver's seat for extending your product. Auth0 Extend offers a unique in-product, white-labeled, developer experience that makes it easy for any developer to add new capabilities and write their own business logic.">
  <meta property="og:site_name" content="Auth0 Extend">
  <meta property="og:title" content="Auth0 Extend">
  <meta property="og:type" content="website">

  <link rel="stylesheet" href="https://cdn.auth0.com/auth0-extend/docs/assets/swagger-ui.css">

  <link rel="stylesheet" href="https://cdn.auth0.com/styleguide/core/development/core.min.css">
  <link rel="stylesheet" href="https://cdn.auth0.com/styleguide/components/1.0.0/components.min.css">
  <link rel="stylesheet" href="https://cdn.auth0.com/auth0-extend/docs/assets/_main.css">
  <!--<link rel="stylesheet" href="https://cdn.auth0.com/auth0-extend/assets/contact-form.css">-->
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:"index.html"," | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  <link rel="icon" type="image/png" href="//auth0.com/extend/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="//auth0.com/extend/favicon-32x32.png" sizes="32x32">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://cdn.auth0.com/auth0-extend/docs/assets/js/jquery.sticky.js"></script>
  <script src="https://cdn.auth0.com/auth0-extend/docs/assets/js/materialize.js"></script>  
  <script src="https://cdn.auth0.com/js/lock/10.12.1/lock.min.js"></script>  
  <script src="https://cdn.auth0.com/auth0-extend/assets/contact-form.js"></script>  
  <!--<script src="{{ "/assets/js/jquery.sticky.js" | relative_url }}"></script>  -->
</head>