<header class="site-header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="row">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
          <a href="/extend/">
            <div class="logo-extend"><img src="https://cdn.auth0.com/website/auth0-extend/images/auth0-extend-logo.svg" alt="Auth0 Extend">
            </div>
          </a>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="navbar-collapse">
          <ul class="nav navbar-nav navbar-left">
            <li class="li-docs no-basic"><a href="/extend/developers">Developers</a></li>
            <li class="li-docs no-basic"><a href="/extend/pricing">Pricing</a></li>
            <li class="li-docs no-basic">
              <a href="/extend/docs">Documentation</a>
            </li>
            <li class="li-docs no-basic"><a href="https://auth0-extend.run.webtask.io/slack-signup">Join us on Slack</a></li>
            <li class="li-docs no-basic"><a href="#" onclick="showContactForm(&quot;extend_header_sales&quot;);" rel="external">Talk to Sales</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right pre-signup">
            <li><a class="signin-button login js-login" href="#">Login</a>
            </li>
            <li><a class="signin-button signup js-signup" href="#">Sign Up</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>