---
layout: default
---
<script src="{{ "/assets/js/swagger-ui-bundle.js" | relative_url }}"></script>
<script src="{{ "/assets/js/swagger-ui-standalone-preset.js" | relative_url }}"></script>

<div class="navigation-bar ">
  <div class="container">
    <ul class="navigation-bar-tabs nav nav-tabs">
      <li class="nav-tab">
        <a href="/extend/docs/what-is-auth0-extend">Articles</a>
      </li>
      <li class="nav-tab active">
        <a href="/extend/docs/api/http-api" class="active">API</a>
      </li>
      <li class="nav-tab">
        <a href="/extend/docs/libraries/sandboxjs">Libraries</a>
      </li>
    </ul>
  </div>
</div>          

<div class="container">
  <div class="row">
    <div class="sidebar-container">
      <div>
        <div style="padding-bottom: 0px;"></div>
        <div style="transform: translateZ(0px);"></div>
        <div class="sidebar">
          <div class="section-title">API</div>
          {% for entry in site.data.apis %}
            <ul class="sidebar-item-list sidebar-item-list-depth0" id="myScrollspy">
              <div class="mobile-dropdown-content scrollable">
              {% for subcategory in entry.subcategories %}
                <li class="sidebar-item sidebar-item-depth0">
                  <a id="{{ subcategory.name }}" class="js-subcategory" href="{{ subcategory.href }}">{{ subcategory.title }}</a>
                  <ul class="sidebar-item-list sidebar-item-list-depth1">
                  {% for item in subcategory.items %}
                    <li class="sidebar-item sidebar-item-depth1 ">
                      <a class="js-subcategory-item" href="{{ item.href }}">{{ item.title }}</a>
                    </li>
                  {% endfor %}
                  </ul>
                </li>
              {% endfor %}
              </div>
            <ul>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="docs-content-container">
        <article class="docs-content">
          {{ content }}
        </article>
      </div>
    </div>
  </div>
</div>

<script>
  $(window).load(function(){
    $(".sidebar-container").sticky({ 
      wrapperClassName: 'col-md-3'
    });

    // Update menu
    $('.js-subcategory').removeClass('is-dropdown-open');

    var elementId = window.location.pathname.replace('/extend/docs/api/', '').replace('/extend/docs/api', '');

    $('#'+elementId)
      .addClass('active')
      .siblings('ul')
      .addClass('is-current');

    $('.scrollspy').scrollSpy({ scrollOffset: 30 });
  });

  // hack
  setTimeout(function () {
    $('.opblock-summary-get').click();
    setTimeout(function () {
      $('.try-out__btn').click();
      // setTimeout(function () {
      //   $('.btn.execute.opblock-control__btn').text('try');
      // }, 200);
    }, 100);
  }, 200);
</script>
