---
layout: default
---
<script>
  $(window).load(function(){
    $('.scrollspy')
      .scrollSpy({ scrollOffset: 30 });
  });
</script>

<div class="navigation-bar">
  <div class="container">
    <ul class="navigation-bar-tabs nav nav-tabs">
      <li class="nav-tab">
        <a href="/extend/docs/what-is-auth0-extend">Articles</a>
      </li>
      <li class="nav-tab">
        <a href="/extend/docs/api/http-api">API</a>
      </li>
      <li class="nav-tab active">
        <a href="/extend/docs/libraries/extend-editor" class="active">Libraries</a>
      </li>
    </ul>
  </div>
</div>          

<div class="container">
  <div class="row">
    <div class="sidebar-container col-md-3">
      <div>
        <div style="padding-bottom: 0px;"></div>
        <div style="transform: translateZ(0px);"></div>
        <div class="sidebar">
          <div class="section-title">Libraries</div>
          {% for entry in site.data.libraries %}
            <ul class="sidebar-item-list sidebar-item-list-depth0" id="myScrollspy">
              <div class="mobile-dropdown-content scrollable">
              {% for subcategory in entry.subcategories %}
                <li class="sidebar-item sidebar-item-depth0">
                  {% if page.url contains subcategory.name %}
                    {% assign isActive = "active" %}
                    {% assign isCurrent = "is-current" %}
                  {% else %}  
                    {% assign isActive = "" %}
                    {% assign isCurrent = "" %}
                  {% endif %}


                  <a id="{{ subcategory.name }}" class="js-subcategory {{ isActive }}" href="{{ subcategory.href }}">{{ subcategory.title }}</a>
                  <ul class="sidebar-item-list sidebar-item-list-depth1 {{ isCurrent }}">
                  {% for item in subcategory.items %}
                    <li class="sidebar-item sidebar-item-depth1 ">
                      {% if forloop.first %}
                        {% assign isSubActive = "active" %}
                      {% else %}                          
                        {% assign isSubActive = "" %}                      
                      {% endif %}

                      <a class="js-subcategory-item {{ isSubActive }}" href="{{ item.href }}">{{ item.title }}</a>
                    </li>
                  {% endfor %}
                  </ul>
                </li>
              {% endfor %}
              </div>
            <ul>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="docs-content-container">
        <article class="docs-content">
          {{ content }}
        </article>
      </div>
    </div>
  </div>
</div>